<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Pagina web personal de Antonio Paya Gonzalez" name="description">
    <meta content="Antonio Paya Gonzalez" name="author">

    <title>Agendar Citas Medico</title>




    <!-- scripts-->
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/ActDatPac.js"></script>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="./assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="./assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- CSS -->
    <!-- <link href="./assets/css/style.css" rel="stylesheet"> -->
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/formulario.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button class="mobile-nav-toggle d-xl-none" type="button"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img alt="" class="img-fluid rounded-circle"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGmENmwAOrx4LvtA2KZqMkw288uWaevMeMMA&usqp=CAU">
                <h1 class=" text-light">
                    <a href="VistaPaciente"> Bienvenido@ <P>
                            <%= nombre %>
                                <%= apellido %></a>
                </h1>

            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="/VistaMedico"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                    <li><a href="/Pacientes-registrados"><i class="bx bx-file-blank"></i> <span>Pacientes
                                Registrados</span></a></li>
                    <li><a href="/DatosMedico"><i class="bx bx-book-content"></i> Mis Datos De medico</a></li>
                    <li><a href="/VerCitasMedico"><i class="bx bx-file-blank"></i> <span>Ver Cita Medico</span></a></li>
                    <li><a href="/Cerrar">
                            <ri class="bx bx-server"></i> Cerrar Sesion
                        </a></li>


                </ul>
            </nav>
            <!-- .nav-menu -->
            <button class="mobile-nav-toggle d-xl-none" type="button"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header>
    <!-- End Header -->
    <main id="main">

        <!-- ======= Portada Section ======= -->
        <section class="d-flex flex-column justify-content-center align-items-center" id="portada">
            <div class="portada-container" data-aos="fade-in">
                <p>Explora<span class="typed" data-typed-items="--Opciones, --Informacion"></span></p>
            </div>
        </section>
        <!-- End Portada -->



        <!-- ======= Facts Section ======= -->
        <section class="contact" id="contact">
            <div class="section-title">
                <h2>AGENDAR CITA</h2>
            </div>
            <div class="main">
                <div class="uno">
                    <h2>Generador de Citas Medicas</h2>
                </div>
                <div class="dos">
                    <form action="/AgendarCita_Medico" method="POST" class="form-login" autocomplete="off">
                        <div class="input">
                            <div class="sec">
                                <label class="label">Identificacion del Paciente </label>
                                <input type="text" name="Identificacion" class="form__input"
                                    placeholder="Identificacion">
                            </div>
                            <div class="sec">
                                <label class="label">Especialidad</label>
                                <select type="text" name="Especialidad" class="form__input">
                                    <option>Seleccion</option>
                                    <option>Cirujia</option>
                                    <option>General</option>
                                    <option>Odontologia</option>
                                    <option>Pediatria</option>
                                    <option>Octometria</option>
                                </select>
                            </div>
                            <div class="sec">
                                <label class="label">Fecha De La Cita </label>
                                <input type="date" name="Fecha_Cita" class="form__input">
                            </div>
                            <div class="sec">
                                <label class="label">Lugar De La Cita</label>
                                <select type="text" name="Lugar_Cita" class="form__input">
                                    <option>Seleccion</option>
                                    <option>Bogota</option>
                                    <option>Cota</option>
                                    <option>Funza</option>
                                    <option>Chia</option>
                                </select>
                            </div>
                            <div class="sec">
                                <label class="label">Consultorio</label>
                                <select type="text" name="Consultorio" class="form__input">
                                    <option>Seleccion</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <button type="submit" class="button"> Ingresar </button><br>
                        </div>
                    </form>

                </div>
        </section>
    </main>




    <a class="back-to-top" href="#"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="./assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="./assets/vendor/counterup/counterup.min.js"></script>
    <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./assets/vendor/venobox/venobox.min.js"></script>
    <script src="./assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="./assets/vendor/typed.js/typed.min.js"></script>
    <script src="./assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="./assets/js/main.js"></script>

</body>

</html>