<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Doctor</title>
    <link rel="stylesheet" href="./CSS1/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <body>
        <div class="grid-container">
  
            <header class="header">
                <h1 class="header-titulo">Clinica de SaBoo--MaFoo</h1> 

            </header>
        

            <section class="seccion-menu">

                <div class="menu-container">
                    <a class="menu-link" id="btnModal" href="/login">Inicio de sesion</a>
                    <a class="menu-link" id="btnModal" href="/registro">Registro Paciente</a>   
                    <a class="menu-link" id="btnModal" href="/registroMedico">Registro Medico</a>
                    <!-- <a class="menu-link" id="btnModal" href="/registroAdmin">Registro Admin</a> -->

                </div>

            </section>



</body>
</html>